@font-face {
    font-family: OpenSans;
    src: url(../fonts/fontOpenSans.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/fontOpenSansLight.ttf);
}

.b-page {
    margin: 0;
    font-family: OpenSansLight;
    min-width: 622px;
    background: #262626;
}
.b-page__section{
    padding:100px 0;
}
.b-project-item{
    cursor: pointer;
    padding: 0 !important;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    padding:20px !important;
}
.b-item-wrapper{
    height: 230px;
    width: 320px;
    margin: 0 auto;
    overflow: hidden;
}

.b-project-image {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    width: 100%;
}
.b-project-title{
    position: absolute;
    bottom:0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    color: white !important;
    font-size: 17px;
    text-decoration: none !important;
    width: 320px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0.7em 0;

}
.b-item-wrapper:hover .b-project-image{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.b-item-wrapper:hover .b-project-title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
